@import "../../../../assets/scss/variables";

#suggestions {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 300px;

  .suggestion {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: $success;
      border-radius: 10px;
      border: none;
      height: 25px;
      color: white;
      cursor: pointer;
    }
  }
}

#chatter {
  overflow-y: auto;
  display: flex;
  text-align: left;
  margin-top: 10px;

  @media (max-width: 550px) {
    margin: 0;
  }

  h3 {
    margin: 0 10px 0 0;
  }

  .chatter-info {
    display: flex;
    margin-right: 10px;
    min-width: 80px;
    padding: 10px;

    @media (max-width: 550px) {
      padding: 0;
    }
  }

  .chatter-status {
    display: flex;
    align-items: center;

    .online {
      background-color: green;
      height: 5px;
      width: 5px;
      border-radius: 50%;
    }

    .offline {
      background-color: red;
      height: 5px;
      width: 5px;
      border-radius: 50%;
    }
  }
}
